html {
    margin: 0;
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    touch-action: manipulation;
    font-family: system-ui, sans-serif;
}

body {
    margin: 0;
    height: 100%;
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;
}

#@root@ {
    height: 100%;
}

._eofol-error-overlay-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    max-width: 640px;
    margin: 0 auto 0 auto;
}

._eofol-error-overlay-text-color-loading {
    color: #fafafa;
}

._eofol-error-overlay-text-color {
    color: red;
}

._eofol-error-overlay-text-h1 {
    font-size: 2em;
}

._eofol-error-overlay-h2 {
    font-size: 1.5em;
}

._eofol-error-overlay-text {
    margin: 0 0 0 0;
}

@keyframes _eofol-error-overlay-fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

._eofol-error-overlay-animation-fade-in {
    opacity: 0;
    animation: _eofol-error-overlay-fadeIn 2s forwards;
}
